body {
  margin: auto 0;
  text-align: center;
  height: 100%;
  width: 100%;
}


/*
GAMEBORD
*/
.container {
  background-color: black;
  color: white;
  padding: 10% 10% 10% 10%;
  margin: 5% 5% 10% 5%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  /* margin: 1% 0 1% 35%; */
  margin: 0 auto;
  height: 60vh;
  width: 60vh;
  align-content: center;
}

.cell {
  height: 95%;
  width: 95%; 
  background-color: #e03e3e;
  border: 2px solid white;
  border-radius: 6px;
}

